body { 
    background-image: url('pinkbackground.jpg');
    background-size: contain;
}

h1 { 
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 64px;
}

h3 { 
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.games-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.image-container {
    display: flex;
    justify-content: center;

}

.image-container img { 
    width: 600px;
}    