body {
  background-color: black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/016/559/062/non_2x/underwater-scene-ocean-coral-reef-underwater-sea-world-under-water-background-free-photo.jpg');
  background-size: cover;
  font-family: 'Aldrich', sans-serif;
  background-repeat: no-repeat;
  overflow: hidden;
  color: rgb(10, 5, 70);
  display: flex;
}

#fish {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 200px;
  left: 400px;
  border-radius: 1000px;
  padding: 10px;
  transition: 0.5s all ease;
}

.instructions { 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

#stitch {
  position: absolute;
  width: 120px;
  top: 600px;
  left: 400px;
  border-radius: 1000px;
  padding: 10px;
  transition: 0.5s all ease;
}

#octopus {
  width: 600px;
  position: absolute;
}

#whale {
  width: 600px;
}

#fish:hover {
  width: 80px;
  height: 80px;
}


#fish:active {
  border: 2px solid white;
}

#heading {
  font-size: 48px;
  color: rgb(10, 5, 70);
  font-weight: normal;
}

#gameover {
  display: none;
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  font-size: 72px;
  color: lightyellow;
  text-shadow: 1px 1px 1px red;
}

#score {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 100px;
  color: white;
}
